﻿@model Databank.Models.ErrorViewModel

@{
    ViewBag.Title = "Error";
    Layout = "_ErrorLayout.cshtml";
}

<h1>Oops an Error (@Model.ErrorCode) has occured</h1>
<div class="clearboth"></div>
<h2>We're sorry but an error has occured</h2>
<p>Please contact your system administrator, with a screenshot of this page (including the error code)</p>
<a href="@Url.Action("Index", "Home")" class="return-homepage">Return to homepage</a>



