﻿@model Databank.Models.ErrorViewModel

    @{
        ViewBag.Title = "title";
        Layout = "_ErrorLayout.cshtml";
    }

<h1>Page Not Found (404)</h1>
<div class="clearboth"></div>
<h2>This page either doesn't exist, or it moved somewhere else.</h2>
<p>If you think this is an error, please let us know so we can fix it!</p>

<p class="subtle-error">@Model.Description</p>

<a href="@Url.Action("Index", "Home")" class="return-homepage">Return to homepage</a>

