﻿@using Services.Enum
@model  Databank.Models.FileManagerViewModel

@{
    ViewBag.Title = "Budget - File Manager by Relevant Authority";

    string schemeDescription;

    switch (Model.Stage)
    {
        case Stage.Spu:
            schemeDescription = "Spu";
            break;
        case Stage.Budget:
            schemeDescription = "Budget";
            break;
        default:
            schemeDescription = "Unknown";
            break;
    }

    var subHeading = schemeDescription + " - " + Model.RelevantAuthority.RelevantAuthorityName;
}

@section SiteHeading
{
    <div class="admin-content-page-header">
        <h1>File Viewer</h1>
        <div class="clearboth"></div>
        <h2>
            @subHeading
        </h2>
    </div>

}

@section Breadcrumb
{
    <div class="main-breadcrumb">
        <a href="@Url.Action("Index", "Home", null)">Home</a><span class="breadcrumb-separator">/</span>
        <a href="@Url.Action("Index", "FileHistory", null)">File History</a><span class="breadcrumb-separator">/</span>
        <a href="@Url.Action(Model.Stage.ToString(), "FileHistory", null)">@schemeDescription</a>
        <span class="breadcrumb-separator">/</span>
        <a href='@Url.Action("StageDetails", "FileHistory", new {relevantAuthorityId = Model.RelevantAuthority.RelevantAuthorityId, Stage = Model.Stage})'>@Model.RelevantAuthority.RelevantAuthorityName</a>
        <span class="breadcrumb-separator">/</span>
        @Model.Year
    </div>
}

<div class="scheme-log admin-homepage">
    <div class="grid-list scheme">
        <div class="grid-list-inner">
            <h2>
                <i class="icon-cloud-download"></i>
                File History
            </h2>

            <div class="header-row row">
                <div class="col">
                    File Name
                </div>
                <div class="col">
                    Date Uploaded
                </div>
            </div>
            @if (Model.MetadataList.Any())
            {
                foreach (var metadata in Model.MetadataList.OrderByDescending(x => x.CreateDate))
                {
                    <div class="row">
                        <div class="col">
                            <a href="~/DownloadFile.ashx?v=@metadata.VersionId&raId=@metadata.RelevantAuthority.RelevantAuthorityId" target="_blank">@metadata.FileName</a>
                        </div>
                        <div class="col">
                            @if (metadata.CreateDate != null)
                            {
                                @metadata.CreateDate.Value.ToString("dd/MM/yy HH:mm")
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>



