﻿@{
    ViewBag.Title = "File History";
}

@section SiteHeading
{
    <div class="admin-content-page-header">
        <h1>Budget - File History</h1>
    </div>
}

<div class="admin-homepage">
    Please select the stage to view and download the data uploaded
    <div class="administration-section">
        <div class="clearboth"></div>

        <div class="admin-panel filehistory-panel">
            <div class="admin-inner-panel">
                <div class="heading-section">
                    <i class="icon-docs"></i>
                    @Html.ActionLink("Budget", "Budget")
                </div>
                <div class="details-section">
                    <span>Click here to create a view data uploaded for the Budget</span>
                </div>
            </div>
        </div>
        <div class="admin-panel filehistory-panel">
            <div class="admin-inner-panel">
                <div class="heading-section">
                    <i class="icon-docs"></i>
                    @Html.ActionLink("Spu", "Spu")
                </div>
                <div class="details-section">
                    <span>Click here to create a view data uploaded for the Budget</span>
                </div>
            </div>
        </div>
    </div>
</div>
