﻿
@{
    ViewBag.Title = "Contact Us";
    ViewBag.ContainerClass = "contact-page";
}

<div class="contact-us">
    <h1>Contact Us</h1>
    <div class="clearboth"></div>


    <div class="row">
        <div class="col">

            <h5>Access to the Budget Application</h5>
            Access to the Budget Application is controlled by the members of the Central Budget Office. All requests should go to Robert McLoughlin, copying the Data Analytics team in the OGCIO on <a href="mailto:dataanalytics@per.gov.ie">dataanalytics@per.gov.ie</a>

        </div>

        <div class="col about-us-background">
            <h4>About the Budget - Receipts and Expenditure Application</h4>
            The receipts and expenditure application collects data via surveys from numerous public bodies. The data is collected bi-annually at the SPU and Budget stage. Data is collected and loaded into the application. Data is then aggregated to provide a variety of reports and also enabling the downloading of the data to feed into other applications and resources.

        </div>

    </div>

</div>