﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        var title = ViewBag == null || ViewBag.Title == null ? string.Empty : ViewBag.Title;
    }

    <title>@string.Format("Budget - Receipts and Expenditure Management - {0}", title)</title>
    @Scripts.Render("~/bundles/custom")
    @Styles.Render("~/Content/bundlecss")
    @Styles.Render("~/Content/bundlespscss")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Contact Us", "Index", "ContactUs", null, new { @class = "nav-link" })
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <div class="user-area">
                        <i class="icon-user icons header-area"></i>
                        @Html.ActionLink(@User.Identity.GetUserName(), "ResetPassword", "Account", null, new { @class = "header-area my-account-link" })

                        <div class="logout-panel">
                            @Html.ActionLink("Log out", "Logout", "Account", new { returnUrl = @Request.Url.AbsoluteUri }, null)
                        </div>
                    </div>
                }
                else
                {
                    <div class="user-area">
                        <div class="logout-panel">
                            @Html.ActionLink("Log in", "Login", "Account")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container  @ViewBag.ContainerClass">
        <div class="main-site-heading">
            <div class="title">@Html.ActionLink("Budget - Receipts and Expenditure Management", "Index", "Home", null, new { @class = "navbar-brand" })</div>
            <div class="logo"></div>

        </div>
        <div class="clearboth"></div>
        <div class="body-container body-content">
            @if (Request.IsAuthenticated)
            {
                @Html.Partial("_Menu");

            }
            else
            {
                <div class="menu-bar"><div class="row"></div></div>
            }
            @RenderSection("SiteHeading", false)
            <div class="clearboth"></div>
            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb", false)
            }
            else
            {
                <div class="main-breadcrumb">
                    @Html.MvcSiteMap().SiteMapPath()
                </div>
            }
            @RenderBody()
        </div>
        <div class="clearboth"></div>
        <footer>
            <div class="bottombar">
                <div class="footermenu">
                    <span>Copyright @DateTime.Now.Year. All rights reserved, Gov.ie, Budget - Receipts and Expenditure Management</span>
                    @Html.ActionLink("Contact Us", "Index", "ContactUs")
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
