﻿@using Databank.Helpers
@using Microsoft.AspNet.Identity
@using Services.Services
<div class="menu-bar">
    <div class="row">

        <div class="col tab not-selected">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </div>

        @{

            var userId = Convert.ToInt32(HttpContext.Current.User.Identity.GetUserId());
            var accountService = new AccountService();
            var reports = accountService.GetUserReports(userId).ToList();
            var categories = reports.Select(x => x.Category).Distinct();
        }

        <div class="hr-menu col sub-menu-parent not-selected">
            Reports
            <div class="sub-menu">
                @foreach (var category in categories)
                {
                    <ul class="menu-section">
                        <li class="sub-heading">@category</li>

                        @{
                            var catReports = reports.Where(x => x.Category == category).ToList();
                        }

                        @foreach (var report in catReports)
                        {
                            <li class="sub-menu-item">
                                <a href="@report.ReportUrl">@report.ReportName</a>
                            </li>
                        }

                    </ul>
                            }
            </div>
        </div>

        <div class="col tab not-selected">
            <a href="@Url.Action("Index", "FileHistory")">File History</a>
        </div>

        @if (SecurityHelper.IsAdmin())
        {
            <div class="col tab not-selected">
                <a href="@Url.Action("Index", "Admin")">Administration</a>
            </div>
        }
    </div>
</div>
