﻿@model Databank.Models.ModuleViewModel
@using System.Configuration
@using Databank.Helpers

@{
    var rootUrl = ConfigurationManager.AppSettings["SiteUrl"];
}

<div class="report-tree">

    @if (Model.ReportMenu.Any(x => x.HrAccessOnly == false))
    {
        foreach (var menuSection in Model.ReportMenu.Where(x => x.HrAccessOnly == false).Select(x => x.Section).Distinct())
        {
            <ul>
                <li><span>@menuSection</span></li>
                @foreach (var menuItem in Model.ReportMenu.Where(x => x.Section == menuSection))
                {
                    var reportUrl = $"{rootUrl}Webforms/ReportViewer.aspx?tab={(int)menuItem.Tab}&module={((int)menuItem.Module)}&item={menuItem.Url}&reportName={menuItem.Title}";
                    var selectedClass = !string.IsNullOrEmpty(Model.SelectedReport) && Model.SelectedReport == menuItem.Url ? "selected-report" : "not-selected-report";

                    <li class="report-link @selectedClass"><a href="@reportUrl">@menuItem.Title</a></li>
                }
            </ul>
        }
    }
    @if (SecurityHelper.LocalHrPermissions(Model.SecuritySource))
    {
        if (Model.ReportMenu.Any(x => x.HrAccessOnly))
        {
            foreach (var menuSection in Model.ReportMenu.Where(x => x.HrAccessOnly).Select(x => x.Section).Distinct())
            {
                <ul>
                    <li><span>@menuSection</span></li>
                    @foreach (var menuItem in Model.ReportMenu.Where(x => x.Section == menuSection))
                    {
                    var reportUrl = $"{rootUrl}Webforms/ReportViewer.aspx?tab={(int)menuItem.Tab}&module={((int)menuItem.Module)}&item={menuItem.Url}&reportName={menuItem.Title}";
                        var selectedClass = !string.IsNullOrEmpty(Model.SelectedReport) && Model.SelectedReport == menuItem.Url ? "selected-report" : "not-selected-report";

                        <li class="report-link @selectedClass"><a href="@reportUrl">@menuItem.Title</a></li>
                    }
                </ul>
            }
        }
    }
</div>
