﻿@model Databank.Models.AccountViewModel
@{
    ViewBag.Title = "My Account";
}


@section SiteHeading
{
    <div class="admin-content-page-header">
        <h1>My Account</h1>
    </div>
}

<div class="admin-homepage myaccount-homepage">
    <h5>Access</h5>
    <p>See below for your current Databank permissions. For data protection reasons we can only grant users access to the individual reporting modules of the CS HR databank on instruction from PeoplePoint. </p>
    <p>Please forward your request for access to PeoplePoint Employee Services (Service Management) <a href="mailto:service.management@employeeservices.gov.ie">service.management@employeeservices.gov.ie</a>, specifying the module(s) of the CS HR Databank you require access to. </p>

    <p>All access requests to the Leads system should be approved by the <b>Senior Public Servants</b> team in PER</p>
    <h5>Reset Password</h5>
    <p>To reset your password please click the following link @Html.ActionLink("Reset Password", "ResetPassword")</p>

    <div class="administration-section">
        <div class="row">
            <div id="securityGroupDetailsSection" class="check-login">
                @Html.Partial("_SecurityGroupDetailsAll", Model.SecurityGroupDetailsViewModelList)
            </div>
        </div>
    </div>
</div>
