﻿@model Databank.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    ViewBag.ContainerClass = "login";
}

@using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { @class = "login-section" }))
{
        <div class="login-panel">
            <h1>
                Log in
            </h1>
            <div class="clearboth"></div>
            <p class="sub-header-info">Enter your account details.</p>
            <div class="login-form">
                @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                {
                    @Html.ValidationSummary(true, null, new { @class = "error-panel" })
                }

                <div class="form-item">
                    <label>Email</label>
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "Please enter a valid email", new { @class = "val-error" })
                </div>
                <div class="form-item">
                    <label>Password</label>
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, "Please enter your password", new { @class = "val-error" })
                </div>
            </div>
            <div class="login-buttons">
                <input type="submit" class="form-button" value="Log in" />
            </div>
        </div>
    <div class="clearboth"></div>
}