﻿
@model Databank.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "My Account - Reset Password";
}
@section SiteHeading
{
    <div class="content-page-header">
        <h1>
            Reset Password
        </h1>
    </div>
}

<div class="admin-page">
    <div class="success-panel">
        @if (ViewBag.ShowSuccess == "true")
        {
            @ViewBag.SuccessMessage
        }
    </div>

    @using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post))
    {
        <div class="register-form">

            @if (ViewBag.ShowError == "true")
            {
                if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                {

                    @Html.ValidationSummary(true, null, new { @class = "error-panel" })
                }
            }
            <div class="form-item">
                <label>Current Password</label>
                @Html.PasswordFor(model => model.CurrentPassword)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.CurrentPassword, "Please enter your current password", new { @class = "val-error" })
            </div>
            <div class="form-item">
                <label>New Password</label>
                @Html.PasswordFor(model => model.Password)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "val-error" })
            </div>
            <div class="form-item">
                <label>Confirm New Password</label>
                @Html.PasswordFor(model => model.ConfirmPassword)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "val-error" })
            </div>
        </div>
        <div class="clearboth"></div>
        <div class="login-buttons">
            <input type="submit" class="form-button" value="Reset Password" />
        </div>
        <div class="clearboth"></div>
    }
</div>
