﻿
form label, form input {
    max-width: none;
    width: 100%;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    color: #5D6978;
}

.form-button {
    color: #FFF;
    width: auto;
    background-color: #004A6C;
    cursor: pointer;
    font-size: 18px;
}

.val-error {
    color: #EE3535;
    font-size: 12px;
}

form label {
    margin-bottom: 8px;
}

form input, form select {
    padding: 8px 10px;
    border: 1px solid #A5AAB0;
    height: 40px;
    width: 461px;
    opacity: 0.6;
}

form textarea {
    width: 90%;
    height: 150px;
    padding: 8px 10px;
    border: 1px solid #A5AAB0;
    opacity: 0.6;
}

input [type="checkbox"] {
    margin-top: 7px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    font-weight: bold;
    border-radius: 5px;
    opacity: 1;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.link-as-button, .link-as-button:hover {
    padding: 8px 10px;
    border: 1px solid #e1e2e4;
    border-radius: 5px;
    color: #2c3e50;
    line-height: 16px;
    font-weight: 700;
    color: #FFF;
    width: auto;
    background-color: #265eac;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.blue-button {
    background-color: #265eac;
}

    .blue-button:hover {
        background-color: #265eac;
    }

.warning-button {
    background-color: #ee3535;
}

.link-as-button.warning-button:hover {
    background-color: #ee3535;
}

.col-skinny {
    max-width: 60px;
}

.col-medium {
    max-width: 200px;
}

.col-skinny-plus {
    max-width: 8%;
    text-align: center;
}

.centered {
    text-align: center;
}

.select-all {
    width: 100%;
    padding-left: 20px;
}

    .select-all label, .select-all input {
        float: right;
        width: auto;
        font-size: 14px;
    }

    .select-all label {
        margin-right: 10px;
        margin-left: 20px;
        margin-top: 2px;
        font-weight: bold;
    }

.last-col {
    text-align: right;
}

.info-label {
    font-weight: bold;
}

.pagination-container {
    width: 100%;
    margin-top: 30px;
}


    .pagination-container li a {
        width: 35px;
        border: 1px solid #eaeaea;
        font-size: 14px;
        line-height: 35px;
        text-align: center;
        display: inline-block;
        color: #004A6C;
    }

    .pagination-container li.active a {
        background-color: #004A6C;
        border-color: #004A6C;
        color: #FFFFFF;
        cursor: pointer;
    }

        .pagination-container li.active a:hover {
            color: #FFFFFF;
            cursor: pointer;
        }

.row {
    padding: 0px;
    background-color: #FFFFFF;
}

.header-row .col {
    background-color: #D8DDE6;
    margin-right: 1px;
}

.col {
    padding: 10px 8px;
}

.header-row .col.no-margin {
    margin-right: 0px;
}

.search-bar {
    float: right;
    position: relative;
}

.search-form {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

    .search-form input {
        width: 200px;
        padding-left: 30px;
        font-size: 14px;
    }

    .search-form [type="submit"] {
        width: auto;
        margin-left: 10px;
        padding: 8px;
        font-size: 14px;
    }

.icon-magnifier {
    height: auto;
    font-size: 16px;
    color: #9d9ea0;
    left: 10px;
    top: 10px;
    position: absolute;
}

.button-as-link {
    color: #265EAC;
    text-transform: none;
    background: none;
    border: none;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    line-height: 21px;
    padding: 0px;
}

    .button-as-link:hover {
        text-decoration: underline;
        color: #2FA4E7;
    }

.forgot-pw-link {
    float: right;
    color: #004A6C;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: right;
}

.year-manage input[type="submit"] {
    width: auto;
}
