﻿.user-area {
    float: right;
    width: 400px;
    text-align: right;
    position: relative;
}

.header-area {
    color: #ffffff;
}

span.header-area {
    font-size: 14px;
}

.error-body .user-area {
    max-width: 350px;
    width: auto;
}

    .user-area button, .user-area html [type="button"], .user-area [type="reset"], .user-area [type="submit"] {
        -webkit-appearance: none;
        font-weight: normal;
    }

    .user-area i {
        margin-left: 10px;
        margin-right: 10px;
    }

.grid-list i {
    margin-right: 5px;
}

    .user-area .icon-user:before {
        margin-right: 0px;
    }

.dropdwn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #e6e6e6 #e6e6e6;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    float: right;
    line-height: initial;
    position: absolute;
    text-align: left;
    top: 50px;
    right: 0px;
    width: 200px;
    z-index: 99;
    display: none;
}

    .dropdwn.active {
        display: block;
    }

    .dropdwn > ul {
        list-style: outside none none;
        margin: 0;
        padding-left: 0;
    }

    .dropdwn > span {
        background: #2c3e50 none repeat scroll 0 0;
        color: #fff;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .dropdwn > ul li {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
    }

        .dropdwn > ul li:hover {
            background: #f7f7f7;
        }

        .dropdwn > ul li a {
            color: #656565;
            display: inline-block;
            padding: 10px 20px 10px 10px;
            text-transform: capitalize;
        }

            .dropdwn > ul li a:hover {
            }

            .dropdwn > ul li a i {
                margin-right: 8px;
            }
