﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Reports.master.cs" Inherits="Databank.Webforms.Reports" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../Content/font-lato.css" type="text/css" />
    <link rel="stylesheet" href="../Content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../Content/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="../Content/reports.css" type="text/css" />
    <link rel="stylesheet" href="../Content/site.css" type="text/css" />
    <link rel="stylesheet" href="../Content/Menu.css" type="text/css" />
    <link rel="stylesheet" href="../Content/header.css" type="text/css" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body class="report-viewer">
    <form id="form1" runat="server">
        <div class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <asp:HyperLink runat="server" ID="_contactUs" Text="Contact Us" CssClass="nav-link"></asp:HyperLink></li>
                        <li class="nav-item">
                            <asp:HyperLink runat="server" ID="_adminLink" Text="Administration" CssClass="nav-link"></asp:HyperLink></li>
                    </ul>
                    <div class="user-area">
                        <i class="icon-user icons header-area"></i>
                        <span class="header-area">
                            <asp:HyperLink runat="server" ID="_userNameLink" CssClass="header-area my-account-link"></asp:HyperLink>
                        </span>
                        <div class="logout-panel">
                            <a href="../Account/Logout">Log out</a>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-site-heading">
                <div class="title">
                    <a href="../home/index" class="navbar-brand">Budget - Receipts and Expenditure Management</a>
                </div>
                <div class="logo"></div>
            </div>
            <div class="clearboth"></div>
            <div class="body-container body-content">
                <div class="menu-bar">
                    <div class="row">
                        <div class="col tab not-selected">
                            <asp:HyperLink runat="server" ID="_homeLink">Home</asp:HyperLink>
                        </div>
                        <div class="hr-menu col sub-menu-parent not-selected">
                            Reports
                            <div class="sub-menu">
                                <asp:Literal runat="server" ID="litReportMenu"></asp:Literal>
                            </div>
                        </div>
                        <asp:Panel runat="server" ID="_detailViewerPanel" CssClass="col tab not-selected">
                            <asp:HyperLink runat="server" ID="_fileHistoryLink">File History</asp:HyperLink>
                        </asp:Panel>
                        <asp:Panel runat="server" ID="_adminPanel" CssClass="col tab not-selected">
                            <asp:HyperLink runat="server" ID="_administrationLink">Administration</asp:HyperLink>
                        </asp:Panel>
                    </div>
                </div>
                <div class="report-section">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
            <div class="clearboth"></div>
            <footer>
                <div class="bottombar">
                    <div class="footermenu">
                        <span>
                            <asp:Literal runat="server" ID="_copyrightlit"></asp:Literal></span>
                        <asp:HyperLink runat="server" ID="_contactUsFooter" Text="Contact Us"></asp:HyperLink>
                    </div>
                </div>
            </footer>
        </div>
    </form>
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/site.js"></script>
</body>
</html>
