﻿@model Databank.Models.HomeViewModel


@{
    ViewBag.Title = "Home";
    ViewBag.ContainerClass = "homepage";
}


@section SiteHeading
{
    <div class="content-page-header">
        <h1>
            General Government Statistics
        </h1>
        <div class="clearboth"></div>
        <h2>
            General Government Debt, General Government Receipts and Expenditure Managament Application
        </h2>
    </div>
}

@section Breadcrumb
{
}


<div class="clearboth"></div>


<div class="content-page">
    <p> This application provides information on the general government balance and general government debt. Data is provide by surveys or templates from numerous general government data sources, including</p>
    <ul>
        <li>Central Statistics Office (CSO)</li>
        <li>National Treasury Management Agency (NTMA)</li>
        <li>Exchequer Statements</li>
        <li>Non-Market Public Corporations (NMPC's)</li>
        <li>Extra Budgetary Funds (EBF's)</li>
        <li>Regulators</li>
        <li>Housing Finance Agency (HFA)</li>
        <li>Strategic Banking Corporation Ireland (SBCI)</li>
        <li>Local Authorities</li>
    </ul>
    

</div>
