﻿@model Databank.Models.ExportViewModel
@{
    ViewBag.Title = "Adminstration - Export";
}
@section SiteHeading
{
    <div class="content-page-header">
        <h1>
            Export Templates
        </h1>
    </div>
}

<div class="admin-page">


    <div class="success-panel">
        @if (ViewBag.ShowSuccess == "true")
        {
            @ViewBag.SuccessMessage
        }
    </div>

    @using (Html.BeginForm("Export", "Admin", null, FormMethod.Post))
    {
        <div>
            <p class="sub-header-info">Please select a stage and year to generate the templates for circulation. Once exported the templates will be available for download within twenty minutes.</p>
        </div>
        <div class="clearboth"></div>
        <div class="register-form">
            @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
            {
                @Html.ValidationSummary(true, null, new { @class = "error-panel" })
            }
            
            <div class="form-item">
                <label>Stage</label>
                @Html.DropDownListFor(model => model.SelectedStage, Model.StageList)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.SelectedStage, "Please select a stage", new { @class = "val-error" })
            </div>
            <div class="form-item">
                <label>Year</label>
                @Html.DropDownListFor(model => model.SelectedStageYear, Model.StageYearList)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.SelectedStageYear, "Please select a year", new { @class = "val-error" })
            </div>
        </div>
        <div class="clearboth"></div>
        <div class="login-buttons">
            <input type="submit" class="form-button" value="Export Templates" />
        </div>
        <div class="clearboth"></div>
    }
</div>
