﻿@{
    ViewBag.Title = "Adminstration";
}


@section SiteHeading
{
    <div class="admin-content-page-header">
        <h1>Budget - Administration</h1>
    </div>
}

<div class="admin-homepage">
    <span>Users may be created or updated using the options below. It is important to double check with the Central Budget Office concerning all access requests. The data is highly sensitive system and all user requests must go through Robert McLoughin in the Central Budget Office in Finance.</span>
    <div class="administration-section">
        <div class="clearboth"></div>

        <div class="admin-panel">
            <div class="admin-inner-panel">
                <div class="heading-section">
                    <i class="icon-user"></i>
                    @Html.ActionLink("Registration", "Register")
                </div>
                <div class="details-section">
                    <span>Click here to create a new user to access the application</span>
                </div>
                <div class="link-section">
                    @Html.ActionLink("Create User", "Register")
                </div>
            </div>
        </div>
        <div class="admin-panel">
            <div class="admin-inner-panel">
                <div class="heading-section">
                    <i class="icon-people"></i>
                    @Html.ActionLink("User Management", "Users")
                </div>
                <div class="details-section">
                    <span>Click here to view all users with access to the application</span>
                </div>
                <div class="link-section">
                    @Html.ActionLink("Users", "Users")
                </div>
            </div>
        </div>
    </div>
    <div class="clearboth"></div>
    <div class="administration-section">
        <span>See below for maintainence to Relevant Authorities and finance codes used throughout the application. All changes must be approved by the Central Budget Office as any updates will impact future reporting. All changes will be monitored and timestamped with the user associated with the change.</span>
        <div class="administration-section">
            <div class="admin-panel">
                <div class="admin-inner-panel">
                    <div class="heading-section">
                        <i class="icon-organization"></i>
                        @Html.ActionLink("Relevant Authorities", "RelevantAuthorities")
                    </div>
                    <div class="details-section">
                        <span>Click here to create a new user to access the application</span>
                    </div>
                    <div class="link-section">
                        @Html.ActionLink("Relevant Authorities", "RelevantAuthorities")
                    </div>
                </div>
            </div>
            <div class="admin-panel">
                <div class="admin-inner-panel">
                    <div class="heading-section">
                        <i class="icon-list"></i>
                        @Html.ActionLink("Template Management", "Export")
                    </div>
                    <div class="details-section">
                        <span>Click here to view all users with access to the application</span>
                    </div>
                    <div class="link-section">
                        @Html.ActionLink("Generate Templates", "Export")
                        @Html.ActionLink("Templates", "ExportHistory")
                    </div>
                </div>
            </div>
            <div class="admin-panel">
                <div class="admin-inner-panel">
                    <div class="heading-section">
                        <i class="icon-clock"></i>
                        @Html.ActionLink("Year Management", "Year")
                    </div>
                    <div class="details-section">
                        <span>Click here to view all users with access to the application</span>
                    </div>
                    <div class="link-section">
                        @Html.ActionLink("Year Management", "Year")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearboth padding-bottom-30"></div>
    <div class="clearboth"></div>
</div>
