﻿@model Databank.Models.RegisterViewModel
@{
    ViewBag.Title = "Adminstration - Register Login";
}
@section SiteHeading
{
    <div class="content-page-header">
        <h1>
            Register
        </h1>
    </div>
}

<div class="admin-page">


    <div class="success-panel">
        @if (ViewBag.ShowSuccess == "true")
        {
            @ViewBag.SuccessMessage
        }
    </div>

    @using (Html.BeginForm("Register", "Admin", null, FormMethod.Post))
    {
        <div>
            <p class="sub-header-info">Please enter the account details of the user you wish to create. Before creating and assigning a user to a module please check with HR in PER or in their relevant departments. All access requests should come through the PeoplePoint team.</p>
        </div>
        <div class="clearboth"></div>
        <div class="register-form">
            @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
            {
                @Html.ValidationSummary(true, null, new { @class = "error-panel" })
            }

            <div class="form-item">
                <label>Email</label>
                @Html.TextBoxFor(model => model.Email)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.Email, "Please enter a valid email", new { @class = "val-error" })
            </div>
            <div class="form-item">
                <label>First Name</label>
                @Html.TextBoxFor(model => model.FirstName)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.FirstName, "Please enter a first name", new { @class = "val-error" })
            </div>
            <div class="form-item">
                <label>Last Name</label>
                @Html.TextBoxFor(model => model.LastName)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.LastName, "Please enter a last name", new { @class = "val-error" })
            </div>
            <div class="form-item">
                <label>Password</label>
                @Html.PasswordFor(model => model.Password)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "val-error" })
            </div>
            <div class="form-item">
                <label>Confirm Password</label>
                @Html.PasswordFor(model => model.ConfirmPassword)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "val-error" })
            </div>
            <div class="form-item">
                <label>Roles</label>
                @Html.DropDownListFor(model => model.SelectedPermission, Model.PermissionList)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.SelectedPermission, "Please select a role", new { @class = "val-error" })
            </div>
        </div>
        <div class="clearboth"></div>
        <div class="login-buttons">
            <input type="submit" class="form-button" value="Register" />
        </div>
        <div class="clearboth"></div>
    }
</div>
