﻿
@using PagedList.Mvc
@model PagedList.IPagedList<Services.Models.RelevantAuthority>
@{
    ViewBag.Title = "Adminstration - Relevant Authorities";
}
@section SiteHeading
{
    <div class="content-page-header">
        <h1>
            Relevant Authorities
        </h1>
    </div>
}

<div class="admin-page">
    
    @using (Html.BeginForm("RelevantAuthorities", "Admin", null, FormMethod.Post, new {@class = "search-form"}))
    {
        <div class="search-bar">
            <i class="icon-magnifier"></i>
            @Html.TextBox("SearchString")
            <input type="submit" class="form-button" value="Search"/>
        </div>
    }
    <div class="clearboth"></div>

    @if (Model.Count > 0)
    {
        <div class="header-row row">
            <div class="col">
                Relevant Authority
            </div>
            <div class="col">
                Department
            </div>
            <div class="col">
                Contact Details
            </div>
            <div class="col col-skinny">
            </div>

        </div>
        foreach (var ra in Model)
        {
            <div class="row">
                <div class="col">
                    @ra.RelevantAuthorityName
                </div>
                <div class="col">
                    @ra.Department.DepartmentName
                </div>
                <div class="col">
                    @ra.ContactDetails
                </div>
                <div class="col col-skinny">
                    @Html.ActionLink("View", "RelevantAuthority", "Admin", new { relevantAuthorityId = @ra.RelevantAuthorityId }, new { @class = "user-link" })
                </div>
            </div>
        }
    }
    else
    {
        <span>I'm sorry, there aren't relevant authorities to view</span>
    }

    @{
        var pLro = PagedListRenderOptions.OnlyShowFivePagesAtATime;
        pLro.DisplayLinkToFirstPage = PagedListDisplayMode.Always;
        pLro.DisplayLinkToLastPage = PagedListDisplayMode.Always;
        pLro.LinkToPreviousPageFormat = "<i class=\"icon-arrow-left\"></i>";
        pLro.LinkToNextPageFormat = "<i class=\"icon-arrow-right\"></i>";

        pLro.LinkToFirstPageFormat = "<i class=\"icon-control-start\"></i>";
        pLro.LinkToLastPageFormat = "<i class=\"icon-control-end\"></i>";
    }

    @if (Model.PageCount > 1)
    {
        @Html.PagedListPager(Model, page => Url.Action("RelevantAuthorities", new {page, ViewBag.CurrentFilter}), pLro)
    }

</div>
