﻿@model Databank.Models.RelevantAuthorityViewModel

@{
    ViewBag.Title = "Administration - " + @Model.RelevantAuthorityName;
}

@section SiteHeading
{
    <div class="content-page-header">
        <h1>
            Administration
        </h1>
    </div>
}

@section Breadcrumb
{
    <div class="main-breadcrumb">
        <a href="@Url.Action("Index", "Home", null)">Home</a><span class="breadcrumb-separator">/</span>
        <a href="@Url.Action("Index", "Admin", null)">Administration</a><span class="breadcrumb-separator">/</span>
        <a href="@Url.Action("RelevantAuthorities", "Admin", null)">Relevant Authorities</a><span class="breadcrumb-separator">/</span>
        @Model.RelevantAuthorityName
    </div>
}

<div class="admin-page">


    <div class="success-panel">
        @if (ViewBag.ShowSuccess == "true")
        {
            @ViewBag.SuccessMessage
        }
    </div>

    @using (Html.BeginForm("RelevantAuthority", "Admin", null, FormMethod.Post))
    {
        <div class="clearboth"></div>
        <p>Please use the form below to update the relevant authority</p>
        <div class="register-form">
            @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
            {
                @Html.ValidationSummary(true, null, new { @class = "error-panel" })
            }
            
            @Html.HiddenFor(model => model.RelevantAuthorityId)

            <div class="form-item">
                <label>Relevant Authority Name</label>
                @Html.TextBoxFor(model => model.RelevantAuthorityName)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.RelevantAuthorityName, "Please enter a valid name", new { @class = "val-error" })
            </div>

            <div class="form-item">
                <label>Stage</label>
                @Html.DropDownListFor(model => model.SelectedDepartment, Model.DepartmentList)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.DepartmentList, "Please select a department", new { @class = "val-error" })
            </div>
            
            <div class="form-item">
                <label>Contact Details</label>
                @Html.TextAreaFor(model => model.ContactDetails)
                <div class="clearboth"></div>
            </div>
        </div>
        <div class="clearboth"></div>
        <div class="login-buttons">
            <input type="submit" class="form-button" value="Save" />
        </div>
        <div class="clearboth"></div>
    }
</div>
