﻿@model List<Services.Models.Template>

@{
    ViewBag.Title = "Budget - Templates";
}

@section SiteHeading
{
    <div class="content-page-header">
        <h1>Template Management</h1>
    </div>
}

<div class="admin-page" id="user-panel">
    <div class="clearboth"></div>
    <p class="sub-header-info">Click on the file names below to download the templates</p>
    <p>Click <b>@Html.ActionLink("here", "DownloadAllTemplates")</b> to download all templates in a zip file</p>

    @if (Model.Any())
    {
        <div class="header-row row">
            <div class="col">
                File Name
            </div>
            <div class="col col-medium">
                Export Date
            </div>
        </div>
        if (Model != null && Model.Any())
        {
            foreach (var template in Model)
            {
                <div class="row">
                    <div class="col">
                        <a href="~/DownloadTemplate.ashx?tid=@template.TemplateId" target="_blank">@template.FileName</a>
                    </div>
                    <div class="col col-medium">
                        @template.ExportDate.ToString("f")
                    </div>
                </div>
            }
        }


    }
    else
    {
        <p>No search results</p>
    }
</div>
