﻿@using Databank.Extensions
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@using Services.Enum
@model PagedList.IPagedList<Databank.Models.UserViewModel>


@{
    ViewBag.Title = "Budget - User Management";
}

@section SiteHeading
{
    <div class="content-page-header">
        <h1>User Management</h1>
    </div>
}

<div class="admin-page" id="user-panel">
    <div class="clearboth"></div>
    @using (Html.BeginForm("Users", "Admin", null, FormMethod.Post, new { @class = "search-form" }))
    {
        <div class="search-bar">
            <i class="icon-magnifier"></i>
            @Html.TextBox("SearchString")
            <input type="submit" class="form-button" value="Search" />
        </div>
    }

    <div class="clearboth"></div>


    @if (Model.Any())
    {
        <div class="header-row row">
            <div class="col">
                Username
            </div>
            <div class="col">
                Role
            </div>
            <div class="col col-skinny">
            </div>
        </div>
        if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
                if (user.UserId.ToString() != User.Identity.GetUserId())
                {
                    <div class="row">
                        <div class="col">
                            @user.Email
                        </div>
                        <div class="col">
                            @user.Role.GetDescription()
                        </div>

                        <div class="col col-skinny">
                            @if (user.Role != Role.Administrator)
                            {
                                @Html.ActionLink("Delete", "DeleteUser", "Admin", new { userId = user.UserId }, new { @class = "user-link" });
                            }
                        </div>

                    </div>
                }
            }
        }

        var pLro = PagedListRenderOptions.OnlyShowFivePagesAtATime;
        pLro.DisplayLinkToFirstPage = PagedListDisplayMode.Always;
        pLro.DisplayLinkToLastPage = PagedListDisplayMode.Always;
        pLro.LinkToPreviousPageFormat = "<i class=\"icon-arrow-left\"></i>";
        pLro.LinkToNextPageFormat = "<i class=\"icon-arrow-right\"></i>";

        pLro.LinkToFirstPageFormat = "<i class=\"icon-control-start\"></i>";
        pLro.LinkToLastPageFormat = "<i class=\"icon-control-end\"></i>";

        if (Model.PageCount > 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.CurrentFilter }), pLro)
        }
    }
    else
    {
        <p>No search results</p>
    }
</div>
