﻿@model Databank.Models.YearViewModel

@{
    ViewBag.Title = "Budget - Years";
}

@section SiteHeading
{
    <div class="content-page-header">
        <h1>Year Management</h1>
    </div>
}

<div class="admin-page" id="user-panel">
    
    <div class="success-panel">
        @if (ViewBag.ShowSuccess == "true")
        {
            @ViewBag.SuccessMessage
        }
    </div>

    <div class="clearboth"></div>
    @using (Html.BeginForm("Year", "Admin", null, FormMethod.Post))
    {
        <div>
            <p class="sub-header-info">Please use the form below to add a year - if not listed below</p>
        </div>
        <div class="clearboth"></div>
        <div class="register-form year-manage">
            @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
            {
                @Html.ValidationSummary(true, null, new {@class = "error-panel"})
            }

            <div class="form-item">
                <label>Year</label>
                @Html.TextBoxFor(model => model.NewYear)
                <div class="clearboth"></div>
                @Html.ValidationMessageFor(model => model.NewYear, "Please enter a valid year", new {@class = "val-error"})
            </div>

            <div class="clearboth"></div>
            <div class="login-buttons">
                <input type="submit" class="form-button" value="Save"/>
            </div>
            <div class="clearboth"></div>

        </div>

    }

    <div class="clearboth padding-bottom-30"></div>

    @if (Model.YearList.Any())
    {
        <div class="header-row row">
            <div class="col">
                Year
            </div>
            <div class="col col-skinny-plus">
                Status
            </div>
        </div>
        if (Model != null && Model.YearList.Any())
        {
            foreach (var yr in Model.YearList)
            {
                <div class="row">
                    <div class="col">
                        @yr.Item1
                    </div>
                    <div class="col col-skinny-plus">
                        @if (@yr.Item2)
                        {
                            <i class="icon-exclamation"></i>
                        }
                        else
                        {
                            <i class="icon-check"></i>
                        }

                    </div>

                </div>
            }
        }
    }
    else
    {
        <p>No years to view</p>
    }
</div>
